{% autoescape false %}
<form action="{{ url('kitano_payment_back_to_shop') }}" method="post">
    <input type="hidden" name="orderId" value="{{ orderId }}"/>
    <input type="hidden" name="transactionId" value="{{ transactionId }}"/>
    <input type="hidden" name="transactionType" value="{{ transactionType }}"/>
    <input type="hidden" name="internal_back_to_shop" value="{{ internalBackToShop }}"/>
    <input type="hidden" name="external_back_to_shop" value="{{ externalBackToShop }}"/>

    <input type="submit" value="{{ 'Confirm my free order' | trans }}"/>
</form>
{% endautoescape %}